#appendItems {
    margin-left: 32px;
    margin-top: 32px;
}


body {
    background-color: whitesmoke;
}

.calculatorButtons {
    text-align: center;
    margin-top: 32px;
}

h1 {
    text-align: center;
    margin-top: 160px;
}

#total {
    text-align: center;
    margin-top: 32px;
}
